.code-area__container {
  display: flex;
  gap: 2em;
  flex-direction: column;
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 2em;
}

.btn {
  font-family: inherit;
  box-sizing: content-box;
  border-radius: 0.75em;
  border: none;
  color: #121212;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.25em 0.35em;
  cursor: pointer;
  padding: .75em;
  width: 40%;
}

.code {
  background-color: #C3FF45;
}

.decode {
  background-color: #FCE71F;
  align-self: flex-end;
}

.code-area__container > textarea {
  height: 30vh;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #EDEDED;
  }

.code-area__container > textarea:focus-visible {
  outline: none;
}

.code-area__container > textarea::-webkit-resizer {
  background-color: transparent;
}

.code-area__container > textarea::placeholder {
  padding: 0 1em;
}

@media screen and (min-width: 768px) {
  .code-area__container {
    margin: 0;
  }
  .btn {
    width: 70%;
    margin-bottom: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    width: 40%;
  }
}
