<div class="info__container">
  <img src="https://raw.githubusercontent.com/caredvn/angular-decodificador/8e72787268496010b618fc062050a1d9ec14792a/src/assets/img/logo-alura-escura.svg" alt="logo alura">
  <p>Designed por: <span>Caren Divino</span></p>
  <div class="info__contacts">
    <ul>
      <li><a href="https://github.com/caredvn"><img class="info__contacts__img" src="https://raw.githubusercontent.com/caredvn/angular-decodificador/8e72787268496010b618fc062050a1d9ec14792a/src/assets/img/github.svg" alt="logo GitHub"></a></li>
      <li><a href="https://www.linkedin.com/in/carendvn/"><img src="https://raw.githubusercontent.com/caredvn/angular-decodificador/8e72787268496010b618fc062050a1d9ec14792a/src/assets/img/linkedin.svg" alt="logo LinkedIn"></a></li>
    </ul>
  </div>
</div>
